@model Category

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Category" : "Edit Category";
}

<div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">@ViewData["Title"]</button>
            <a href="/Admin/Category" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
